@use "../../assets/scss/" as *;

.main-container {
    display: flex;
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
    .brand-container {
        height: auto;
        width: 100%;
        margin-bottom: 1rem;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .side-bar {
        height: 100%;
        width: 18%;
        background-color: var(--primary-color);
        padding: 2rem;
    }
    .main-container {
        background-color: var(--background-color);
    }

}