@use "../../assets/scss/" as *;

.main-container {
  display: flex;
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  font-size: 2rem;
  .login-img {
    width: 60%;
    height: 100%;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  .login-field {
    @include flex(center, center);
    flex-direction: column;
    width: 40%;
    height: 100%;
    gap: 2rem;
    .logo {
      width: 235px;
      height: 165px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .sign-in-title {
      font-size: 3rem;
      padding: 2rem 0;
    }
    #txt-email,
    #txt-password {
      width: 60%;
      height: 60px;
      font-size: 2rem;
      background-color: var(--fifth-color);
    }
    #login-button {
      width: 60%;
      height: 60px;
      font-size: 2rem;
      background-color: var(--fourth-color);
    }
    a {
      float: right;
      color: black;
      text-decoration: underline;
    }
    #google-button {
      width: 60%;
      height: 60px;
      font-size: 2rem;
    }
    #alternative-signin {
      color: #686868;
    }
  }
}
