@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$mobile-width: 600px;
$tablet-width: 1024px;

:root {
  --primary-color: #230163;
  --primary-color-1: #fff;
  --primary-color-2: #131224;
  --primary-color-3: #9786f4;
  --primary-color-4: #9a24fe;
  --primary-color-5: #9d17f6;
  --primary-color-6: #8511d3;
  --primary-color-7: #252425;
  --primary-color-8: rgb(204, 204, 204);
  --primary-color-9: rgba(137, 137, 137, 0.7);
  --primary-color-10: rgba(115, 115, 115, 0.7);
  --primary-color-11: #a091f3;
  --primary-color-12: #252425;
  --primary-color-13: rgba(137, 137, 137, 0.7);
  --primary-color-14: rgb(36, 36, 36);
  --border-color: rgba(255, 255, 255, 0.136);
}