@use "../../assets/scss/" as *;

.account-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .account-content {
    background-color: var(--primary-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
    .account-action {
      @include flex(space-between, null);
      padding: 1rem;
    }
  }
}
